<div style="background:#444444; border-radius: 2px;">
	<br> </br>
	<h2 style="color:#ffffff; text-align:center;">Orox Leather</h2>
	<br> </br>
</div>
<br> </br>
<br> </br>
<div>Hi,</div>
<div></div>
<br> </br>
<div style="float:left; margin-top: 30px;">Thank you for your recent visit to our website - we very much appreciate you taking the time to view some of the products that we make here at Orox Leather Co.!</div>
<div></div>
<br> </br>
<div style="float:left; margin-top: 30px;">If you are interested in learning more about our company, please read about us or check out our Instagram.</div>
<div></div>
<br> </br>
<div style="text-align:center; margin-top: 30px;">
	<div>
		<a style="float:left; color:#ffffff; background:#444444; text-decoration: none; border-radius: 2px; padding: 10px; margin: 15px;" href="http://www.oroxleather.com/pages/about-us">Our Story</a>
	</div>
	<div>
		<a style="float:left; color:#ffffff; background:#444444; text-decoration: none; border-radius: 2px; padding: 10px; margin: 15px;" href="http://www.oroxleather.com/pages/meet-the-family">Meet the Family</a>
	</div>
	<div>
		<a style="float:left; color:#ffffff; background:#444444; text-decoration: none; border-radius: 2px; padding: 10px; margin: 15px;" href="https://instagram.com/oroxleatherco/?hl=en">Instagram </a>
	</div>
</div>
<br> </br>
<br> </br>
<div style="float:left; margin-top: 30px;">Again, thank you for visiting, and we look forward to the opportunity to provide you great heritage leather goods in the future.</div>
<div></div>
<br> </br>
<div style="float:left; margin-top: 30px;">Best regards,</div>
<div style="float:left; margin-top: 10px; margin-bottom: 30px;">The Martinez Family</div>
<div><b></b></div>
<p> </p>
<div></div>