<div>Hi,</div>
<div></div>
<br> </br>
<div>Thank you for your recent visit to our website - we very much appreciate you taking the time to view some of the products that we make here at Orox Leather Co.!</b></div>
<div></div>
<br> </br>
<div>If you are interested in learning more about our company, please click on any of the links below.</div>
<div></div>
<br> </br>
<div><a href="http://www.oroxleather.com/pages/about-us">Our Story</a><br /></div>
<div><a href="http://www.oroxleather.com/pages/meet-the-family">Meet the Family</a></div>
<div><a href="https://instagram.com/oroxleatherco/?hl=en">Instagram</b> </a></div></div>
<br> </br>
<div>Again, thank you for visiting, and we look forward to the opportunity to provide you great heritage leather goods in the future.</div>
<div></div>
<br> </br>
<div>Best regards,</div>
<div>The Martinez Family</div>
<div><b></b></div>
<p> </p>
<div></div>