<p class="p-centered">Your privacy is important to us.  This Privacy Policy describes how Orox Leather Co. collects, uses, stores and shares information about you, and how you can make choices about how we use that information. This policy applies to information which we collect when you use our website or otherwise interact with us as described below.</p>
<p class="p-centered"><strong>PERSONAL INFORMATION</strong></p>
<p class="p-centered">We collect personal information from you in a variety of ways, including, when you visit our site, register with us, place an order, fill out a form, subscribe to our lists, and in connection with other features we make available on our site. Personal information you provide us with may include your name, email address, mailing address, phone number, and credit card information. In some cases, it may include your gender, birthday and personal interests. You can visit our site without providing any personal information, and we will collect personal information from you only if you voluntarily provide it to us in connection with a purchase, subscription or other use of the site. When you purchase a product from our site, or return one, we collect information about that transaction, including personal information and details about the product, and the purchase or return.</p>
<p class="p-centered"><strong>NON-PERSONAL INFORMATION</strong></p>
<p class="p-centered">We automatically collect certain data and non-personal identification information from everyone that interacts with our site. This information includes things like the type of browser you use, access times, pages viewed, your IP address and the referring link through which you accessed our site.</p>
<p class="p-centered"><strong>HOW WE PROTECT YOUR INFORMATION</strong></p>
<p class="p-centered">We take reasonable measures to help protect information about you from loss, theft, misuse and unauthorized access, disclosure, alteration and destruction.</p>
<p class="p-centered"><strong>HOW WE USE YOUR INFORMATION</strong></p>
<p class="p-centered">We may collect and use your personal and non-personal information in the following ways: </p>
<ul>
<li class="p-centered">To process and fulfill your order, and send you updates on your order and shipment.</li>
<li class="p-centered">To respond to your comments, questions and requests and provide customer service.</li>
<li class="p-centered">To personalize and enhance your shopping experience.</li>
<li class="p-centered">To link or combine with information we get from others to help understand your needs and provide you with better service.</li>
<li class="p-centered">To help us improve our site design, products and services.</li>
<li class="p-centered">To analyze trends, usage and statistics.</li>
<li class="p-centered">To send you information and offers about our products, services, promotions and contests, unless you have directed us not to.</li>
<li class="p-centered">To administer and fulfill our promotions and contests.</li>
</ul>
<p class="p-centered"><strong>HOW WE MAY SHARE YOUR INFORMATION</strong></p>
<p class="p-centered">We may share your personal and other information in the following ways: </p>
<ul>
<li class="p-centered">With our service providers who need access to such information to carry out work on our behalf.</li>
<li class="p-centered">With our partners and others for purposes of sending their own direct mail and email, unless you opt out of this by changing your account preferences or by contacting us.</li>
<li class="p-centered">As requested or directed by you.</li>
<li class="p-centered">If needed to protect the rights, property and safety of us or any third party.</li>
<li class="p-centered">If needed to respond to the request of law enforcement in cases where we believe disclosure is required and/or in accordance with applicable law, regulation or legal process.</li>
</ul>
<p class="p-centered">We may also share aggregated or de-identified information, which cannot reasonably be used to identify you.</p>
<p class="p-centered"><strong>WEB BROWSER COOKIES AND SITE ANALYTICS</strong></p>
<p class="p-centered">Our site uses "cookies" and similar technologies to enhance your experience. Cookies may be placed on your hard drive for record-keeping purposes, and to track information about how you are using our site. You can set your web browser to refuse cookies, or to alert you when cookies are being sent. If you do so, some parts of our site may not function properly for you. We may also engage others to serve advertisements on our behalf across the Internet and to provide analytics services. These entities may use cookies and other technologies to collect information about your use of our site.</p>
<p class="p-centered"><strong>THIRD PARTY WEBSITES</strong></p>
<p class="p-centered">There may be advertising or other content on our site that links to the sites and services of others. We do not control these sites and services, and are not responsible for them. Those sites’ terms of use and privacy policies will be applicable to your interaction with those sites and services.</p>
<p class="p-centered"><strong>CHILDREN’S PRIVACY</strong></p>
<p class="p-centered">Our site is not targeted to or intended for children, and we will never knowingly request personally identifiable information from anyone under the age of 13 without prior verifiable parental consent.</p>
<p class="p-centered"><strong>CALIFORNIA RESIDENTS</strong></p>
<p class="p-centered">California residents may request certain information regarding our disclosure of personal information to third parties for their direct marketing purposes. To make such a request, please write to us at the address below.</p>
<p class="p-centered"><strong>CHANGES TO THIS PRIVACY POLICY</strong></p>
<p class="p-centered">We may update this privacy policy from time to time. When we do, we revise the “updated” date at the bottom of the last page. We encourage you to frequently check this page for any changes to this policy. You acknowledge and agree that it is your responsibility to review this privacy policy periodically and become aware of modifications.</p>
<p class="p-centered"><strong>YOUR ACCEPTANCE OF THESE TERMS</strong></p>
<p class="p-centered">By using this site, you agree to all of the terms of this privacy policy. If you do not agree, please do not visit or use our site. Your continued use of our site following the posting of changes to this policy will be deemed your acceptance of those changes.</p>
<p class="p-centered"><strong>CONTACTING US AND UPDATING YOUR INFO</strong></p>
<p class="p-centered">If you'd like to update your customer account information and manage the way that we use and do not use your information or have any questions about this privacy policy, the terms of use for this site, or your experience with this site, please contact us at: </p>
<p class="p-centered"><br /> Orox Leather Co.<br /> 450 NW Couch St., Portland, OR 97209</p>
<p class="p-centered">503-954-2593</p>
<p class="p-centered">(Normal business hours are Tuesday through Saturday, 10am-5pm.)</p>
<p class="p-centered"><strong><a href="mailto:HELLO@oroxleather.com">hello@oroxleather.com</a></strong></p>
<p class="p-centered">We'd love to hear from you.</p>
<p class="p-centered">Thank you for visiting our site. We value your relationship with us. Please let us know if there is anything we can do to enhance your experience with this site or our products.</p>
<p class="p-centered">Privacy policy was last updated on November 10, 2014.</p>