<div style="text-align: center;">
<ul>
<li class="p-centered"><span style="line-height: 1.2;">Please contact Orox for a return authorization before returning any items to us.  Returns that are shipped to us without prior authorization will be returned to the sender. </span></li>
<li class="p-centered"><span style="line-height: 1.4;">Orox will fix or replace at our option any item that is determined by us to be defective. </span></li>
<li class="p-centered"><span style="line-height: 1.4;">You may return an item within seven (7) days of its purchase or receipt for a refund of its purchase price. You may exchange your item for a different finish or for a different product or products within thirty (30) days of its purchase or receipt.  </span></li>
<li class="p-centered"><span style="line-height: 1.4;">Orox will only accept items for refund or exchange that have not been worn, used, or altered. </span><span style="line-height: 1.2;">If additional costs apply for a price difference you will be contacted for your credit card information, as we do not retain credit card information from our customers.</span></li>
<li class="p-centered"><span style="line-height: 1.4;">There are no refunds on items damaged in shipping. In that case, you must file a claim with the carrier. </span></li>
<li class="p-centered"><span style="line-height: 1.4;">There are no refunds of shipping costs on packages returned. Only cost of goods will be refunded. </span></li>
<li class="p-centered"><span style="line-height: 1.4;">You must notify us in advance of any return so that we will be expecting your package.</span></li>
<li class="p-centered"><span style="line-height: 1.4;">Returns that are sent without our prior knowledge will be refused.</span></li>
</ul>
</div>